In [1]:
import pandas as pd

In [4]:
df_excel=pd.read_excel("開盤價分析.xlsx")
df_excel

           年月日    log開盤價   開盤價(元)
0   2016-01-18  3.885286  7678.67
1   2016-01-21  3.887233  7713.17
2   2016-01-22  3.888124  7729.01
3   2016-01-14  3.889419  7752.09
4   2016-01-13  3.892070  7799.56
5   2016-01-12  3.892536  7807.93
6   2016-01-15  3.892595  7809.00
7   2016-01-08  3.892718  7811.20
8   2016-01-25  3.892858  7813.73
9   2016-01-19  3.893010  7816.45
10  2016-01-28  3.893497  7825.22
11  2016-01-26  3.893878  7832.10
12  2016-01-20  3.894048  7835.17
13  2016-01-11  3.895190  7855.80
14  2016-01-27  3.895625  7863.66
15  2016-01-29  3.896569  7880.78
16  2016-01-07  3.901090  7963.24
17  2016-02-15  3.901821  7976.65
18  2016-05-16  3.904997  8035.21
19  2015-12-14  3.906263  8058.67
20  2016-01-06  3.906564  8064.25
21  2015-12-15  3.907115  8074.48
22  2016-05-17  3.907513  8081.89
23  2016-02-16  3.907997  8090.91
24  2016-05-13  3.908267  8095.93
25  2015-09-30  3.908332  8097.15
26  2016-01-05  3.908753  8105.00
27  2016-01-30  3.908872  8107.23
28  2016-05-20  3.908950  8108.68
29  2016-05-18  3.909321  8115.61
..         ...       ...      ...
213 2016-07-25  3.955705  9030.36
214 2016-09-12  3.955760  9031.51
215 2016-09-05  3.955802  9032.38
216 2016-08-25  3.955903  9034.47
217 2016-08-24  3.956319  9043.13
218 2016-07-22  3.956897  9055.17
219 2016-09-01  3.956923  9055.73
220 2016-07-27  3.957041  9058.19
221 2016-07-28  3.957151  9060.48
222 2016-07-29  3.957433  9066.37
223 2016-08-02  3.958137  9081.06
224 2016-09-10  3.958316  9084.81
225 2016-08-26  3.958899  9097.02
226 2016-09-06  3.959176  9102.83
227 2016-08-18  3.959274  9104.88
228 2016-08-30  3.959678  9113.34
229 2016-08-29  3.959877  9117.53
230 2016-08-17  3.960051  9121.18
231 2016-08-31  3.960099  9122.19
232 2016-08-08  3.960141  9123.07
233 2016-08-12  3.960725  9135.34
234 2016-08-19  3.960931  9139.69
235 2016-08-16  3.961235  9146.09
236 2016-08-15  3.961533  9152.36
237 2016-08-09  3.961611  9154.00
238 2016-08-10  3.961940  9160.94
239 2016-08-11  3.962308  9168.70
240 2016-09-07  3.963893  9202.23
241 2016-09-09  3.964607  9217.37
242 2016-09-08  3.965764  9241.95

[243 rows x 3 columns]

In [5]:
df_excel=pd.read_excel("第一次作業 開盤價分析.xlsx")
df_excel

           年月日   開盤價(元)   收盤價(元) Unnamed: 3       開盤價(元).1       收盤價(元).1
0   2016-01-18  7678.67  7811.18        平均值    8501.334199    8501.984892
1   2016-01-21  7713.17  7664.01        變異數  130533.630389  127825.402660
2   2016-01-22  7729.01  7756.18        NaN            NaN            NaN
3   2016-01-14  7752.09  7742.88        NaN            NaN            NaN
4   2016-01-13  7799.56  7824.61        NaN            NaN            NaN
5   2016-01-12  7807.93  7768.45        NaN            NaN            NaN
6   2016-01-15  7809.00  7762.01        NaN            NaN            NaN
7   2016-01-08  7811.20  7893.97        NaN            NaN            NaN
8   2016-01-25  7813.73  7894.15        NaN            NaN            NaN
9   2016-01-19  7816.45  7854.88        NaN            NaN            NaN
10  2016-01-28  7825.22  7905.10        NaN            NaN            NaN
11  2016-01-26  7832.10  7828.67        NaN            NaN            NaN
12  2016-01-20  7835.17  7699.12        NaN            NaN            NaN
13  2016-01-11  7855.80  7788.42        NaN            NaN            NaN
14  2016-01-27  7863.66  7849.83        NaN            NaN            NaN
15  2016-01-29  7880.78  8080.60        NaN            NaN            NaN
16  2016-01-07  7963.24  7852.06        NaN            NaN            NaN
17  2016-02-15  7976.65  8066.51        NaN            NaN            NaN
18  2016-05-16  8035.21  8067.60        NaN            NaN            NaN
19  2015-12-14  8058.67  8040.16        NaN            NaN            NaN
20  2016-01-06  8064.25  7990.39        NaN            NaN            NaN
21  2015-12-15  8074.48  8073.35        NaN            NaN            NaN
22  2016-05-17  8081.89  8140.48        NaN            NaN            NaN
23  2016-02-16  8090.91  8212.07        NaN            NaN            NaN
24  2016-05-13  8095.93  8053.69        NaN            NaN            NaN
25  2015-09-30  8097.15  8181.24        NaN            NaN            NaN
26  2016-01-05  8105.00  8075.11        NaN            NaN            NaN
27  2016-01-30  8107.23  8145.21        NaN            NaN            NaN
28  2016-05-20  8108.68  8131.26        NaN            NaN            NaN
29  2016-05-18  8115.61  8159.68        NaN            NaN            NaN
..         ...      ...      ...        ...            ...            ...
213 2016-07-25  9030.36  8991.67        NaN            NaN            NaN
214 2016-09-12  9031.51  8947.06        NaN            NaN            NaN
215 2016-09-05  9032.38  9090.13        NaN            NaN            NaN
216 2016-08-25  9034.47  9115.47        NaN            NaN            NaN
217 2016-08-24  9043.13  9017.38        NaN            NaN            NaN
218 2016-07-22  9055.17  9013.14        NaN            NaN            NaN
219 2016-09-01  9055.73  9001.15        NaN            NaN            NaN
220 2016-07-27  9058.19  9063.39        NaN            NaN            NaN
221 2016-07-28  9060.48  9076.64        NaN            NaN            NaN
222 2016-07-29  9066.37  8984.41        NaN            NaN            NaN
223 2016-08-02  9081.06  9068.76        NaN            NaN            NaN
224 2016-09-10  9084.81  9053.69        NaN            NaN            NaN
225 2016-08-26  9097.02  9131.72        NaN            NaN            NaN
226 2016-09-06  9102.83  9181.85        NaN            NaN            NaN
227 2016-08-18  9104.88  9122.50        NaN            NaN            NaN
228 2016-08-30  9113.34  9110.56        NaN            NaN            NaN
229 2016-08-29  9117.53  9110.17        NaN            NaN            NaN
230 2016-08-17  9121.18  9117.70        NaN            NaN            NaN
231 2016-08-31  9122.19  9068.85        NaN            NaN            NaN
232 2016-08-08  9123.07  9150.26        NaN            NaN            NaN
233 2016-08-12  9135.34  9150.39        NaN            NaN            NaN
234 2016-08-19  9139.69  9034.27        NaN            NaN            NaN
235 2016-08-16  9146.09  9110.36        NaN            NaN            NaN
236 2016-08-15  9152.36  9148.51        NaN            NaN            NaN
237 2016-08-09  9154.00  9155.08        NaN            NaN            NaN
238 2016-08-10  9160.94  9200.42        NaN            NaN            NaN
239 2016-08-11  9168.70  9131.83        NaN            NaN            NaN
240 2016-09-07  9202.23  9259.07        NaN            NaN            NaN
241 2016-09-09  9217.37  9164.88        NaN            NaN            NaN
242 2016-09-08  9241.95  9262.89        NaN            NaN            NaN

[243 rows x 6 columns]

import pandas as pd
# 讀excel
df_excel=pd.read_excel("開盤價分析.xlsx")
df_excel

# 讀txt